body{
	background-image: url("cloud.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	margin:1;
	padding:1;
	color: #FFD369;

}
.box{
	width:1000px;
	text-align: center;
	padding:100px;
	margin: auto;
	text-transform: uppercase;
	color:white;
}
.square{
	width:1000px;
	background: black;
	text-align: center;
	padding:100px;
	margin: auto;
	text-transform: uppercase;
	color:white;
	font-size:20px;
}
ol{
	width:1000px;
	text-align: center;
	padding:100px;
	margin: auto;
	text-transform: uppercase;
	color:white;
	font-size:20px;
}
}
.circle{
	width:1000px;
	text-align: center;
	padding:100px;
	font-style: NoirPro-Bold;
	margin: auto;
	text-transform: uppercase;
	color:white;
	font-size:20px;
}
.square{
	background-image: url("cloud.jpg");
	background: cover;
	width:1000px;
	text-align: center;
	padding:100px;
	margin: auto;
	text-transform: uppercase;
	color:white;
	font-size:20px;
}
.rectanle{
	width:1000px;
	text-align: center;
	padding:600px;
	margin: auto;
	text-transform: uppercase;
	color:white;
	font-size:20px;
}